* {
  box-sizing:border-box;
}

.game-container {
  position: relative;
  width: 240px;
  height: 208px;
  background: url(/images/map.png) no-repeat no-repeat;
  transform: scale(2);
  image-rendering: pixelated;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.player-info {
  position: absolute;
  top: 0;
  left:0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top:-18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_coins {
  margin-left: 1px;
  color: gold;
}

/* Coins */
.Coin_sprite {
  background: url(/images/coin.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
  from { transform: translateY(0) }
  to { transform: translateY(5px) }
}
.Coin_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}

/* Diamonds */
.Diamond_sprite {
  background: url(/images/diamond.png) no-repeat no-repeat;
  animation: diamondFloat 1s linear infinite alternate-reverse;
}
@keyframes diamondFloat {
  from { transform: translateY(0) }
  to { transform: translateY(5px) }
}
.Diamond_shadow {
  background: url(/images/coin-shadow.png) no-repeat no-repeat;
}


#gameArea {
 position: absolute;
 padding-left: 35%;
 padding-top: 0%;
 top: 440px;
}

#nombreArea {
  padding-right: 0%;
  padding-bottom: 0%;
  padding-top: 70%;
}

#colorArea{
  padding-left: 145%;
  padding-bottom: 0%;
}

#texto{
  padding-left: 18%;
}

#movimientosMulti{
  width: 55%;
  height: 200px;
  margin-left: 0px;
  padding-left: 0%;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}

.padding {
  padding: 5rem
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none
}

.pl-3,
.px-3 {
  padding-left: 1rem !important
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0
}

.card .card-title {
  color: #000000;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 500
}

.card .card-description {
  margin-bottom: .875rem;
  font-weight: 400;
  color: #76838f
}

p {
  font-size: 0.875rem;
  margin-bottom: .5rem;
  line-height: 1.5rem
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar
}

.table,
.jsgrid .jsgrid-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent
}

.table thead th,
.jsgrid .jsgrid-table thead th {
  border-top: 0;
  border-bottom-width: 1px;
  font-weight: 500;
  font-size: .875rem;
  text-transform: uppercase
}

.table td,
.jsgrid .jsgrid-table td {
  font-size: 0.875rem;
  padding: .875rem 0.9375rem
}

.badge {
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal
}

.progress {
 border-radius: 3px;
 height: 8px;
 margin-top:7px;
}

#marcoTabla{
  background-position-y: -200px;
}

#statsMulti{
  position: absolute;
  right: 150px;
  margin-bottom: 1rem;
  flex: 0 0 auto;
}

#contador{
  padding-left: 10%;
  padding-top: 2%;;
}

#inactividad{
  padding-left: 10%;
  padding-top: 4%;;
}


body .rect {
  width: auto;
  height: 64px;
  padding-right: 20px;
  border-radius: 16px;
  background: #fff;
}

body .rect .rec {
  width: 12px;
  height: 12px;
  background: #ff2b00;
  border-radius: 50%;
  margin-top: 26px;
  margin-left: 16px;
  position: absolute;
  -webkit-animation: Anime 1s linear infinite;
  animation: Anime 1s linear infinite;
}

body .rect #time {
  font-size: 34px;
  line-height: 64px;
  margin-left: 40px;
  font-weight: 300;
  font-family: "Helvetica";
}

@-webkit-keyframes Anime {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 1;
  }

  75% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }
}

@keyframes Anime {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 1;
  }

  75% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }
}

#chat{
  position: sticky;
  top: 70px;
  left: 1800px;
}
